@import "src/scss/variables";

.record-detail--hidden {
  display: none;
}

.error {
  background: $c-danger;
  border-radius: $border-radius--default;
  box-shadow: $interactive--box-shadow;
  color: $c-light;
  padding: $border-radius--default;
  margin-bottom: $spacing--default;
}

.confirmation {
  align-content: space-around;
  align-items: center;
  background: rgba(#000, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.confirmation__message {
  background: $c-light;
  border-radius: $border-radius--default;
  margin: $spacing--default;
  padding: $spacing--default;
}
