<app-modal [visible]="confirmation">
  <b>{{ 'CONFIRM_DELETE_HEADLINE' | translate }}</b>
  <br />
  {{ 'CONFIRM_DELETE' | translate }}
  <div appFlexContainer>
    <button app-button (click)="cancelDelete()" size="large">
      <app-svg name="close"></app-svg>
    </button>
    <button app-button (click)="confirmDelete()" size="large" [modifier]="['delete']">
      <app-svg name="checkmark"></app-svg>
    </button>
  </div>
</app-modal>

<form
  (ngSubmit)="submit()"
  [formGroup]="recordForm"
  class="record-detail"
  [ngClass]="{ 'record-detail--hidden': !initialized }"
>
  <app-page [modifierBottom]="['actions-reverse']" [modifierTop]="['actions-reverse']">
    <ng-container data-slot="top">
      <app-button-close></app-button-close>
    </ng-container>

    <div class="record-detail__middle">
      <input formControlName="id" type="hidden" />
      <input formControlName="created" type="hidden" />
      <input formControlName="updated" type="hidden" />

      <div *ngIf="recordForm.errors && recordForm.errors.conflictingRecord" class="error">
        <div *ngFor="let record of recordForm.errors.conflictingRecord">
          {{ 'ERRORS.CONFLICTING_RECORD' | translate }}
          {{ record.start | date: 'dd.MM.yyyy' }}, {{ record.start | date: 'HH:mm' }} - {{ record.end | date: 'HH:mm' }}
        </div>
      </div>

      <div appFlexContainer>
        <app-input [label]="'DETAIL.DATE' | translate" [parentForm]="recordForm" id="date" type="date"></app-input>

        <app-input
          [label]="'DETAIL.TYPE' | translate"
          [options]="types$ | async"
          [parentForm]="recordForm"
          id="type"
          type="select"
        ></app-input>
      </div>

      <div *ngIf="+recordForm.controls.type.value === 0">
        <div appFlexContainer>
          <app-input [label]="'DETAIL.START' | translate" [parentForm]="recordForm" id="start" type="time"></app-input>

          <app-input [label]="'DETAIL.END' | translate" [parentForm]="recordForm" id="end" type="time"></app-input>
        </div>

        <div *ngIf="recordForm.errors && recordForm.errors.startEndMismatch" class="error">
          {{ 'ERRORS.START_END_MISMATCH' | translate }}
        </div>

        <div appFlexContainer>
          <app-input [label]="'DETAIL.BREAK' | translate" [parentForm]="recordForm" id="break" type="time"></app-input>

          <app-input
            [label]="'DETAIL.OVERALL' | translate"
            [parentForm]="recordForm"
            id="overall"
            readonly="true"
            type="time"
          ></app-input>
        </div>
      </div>

      <app-input [label]="'DETAIL.PROJECT' | translate" [parentForm]="recordForm" id="project" type="text"></app-input>
    </div>
    <ng-container data-slot="bottom">
      <button [disabled]="!recordForm.valid" [modifier]="['save']" app-button size="large" type="submit">
        <app-svg name="checkmark"></app-svg>
      </button>
      <button
        (click)="deleteButtonClicked()"
        *ngIf="showDelete"
        [modifier]="['delete']"
        app-button
        size="large"
        type="button"
      >
        <app-svg name="trash"></app-svg>
      </button>
    </ng-container>
  </app-page>
</form>
