<div class="record-list">
  <div class="nav-bar nav-bar--top">
    <ng-container *ngIf="timeRange$ | async as timeRange">
      <a app-button [routerLink]="'/list' + timeRange.prev.path">
        <app-svg name="prev" size="medium"></app-svg>
      </a>

      <app-week-indicator
        [year]="timeRange.year"
        [week]="timeRange.week"
        [from]="timeRange.from"
        [to]="timeRange.to"
      ></app-week-indicator>

      <a app-button [routerLink]="'/list' + timeRange.next.path">
        <app-svg name="next" size="medium"></app-svg>
      </a>
    </ng-container>
  </div>

  <ng-container *ngIf="records$ | async as records; else loading">
    <div [@list]="records" class="record-list__inner">
      <div *ngFor="let record of records">
        <app-record-list-item [item]="record"></app-record-list-item>
      </div>

      <div class="record-list__center" *ngIf="records.length === 0">
        No data present
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="record-list__center">Loading ...</div>
  </ng-template>

  <div class="nav-bar nav-bar--bottom">
    <a app-button (click)="onSendClicked()">
      <app-svg name="send" size="medium"></app-svg>
    </a>

    <a app-button size="large" [routerLink]="['/record/add']">
      <app-svg name="plus" size="medium"></app-svg>
    </a>

    <a app-button [routerLink]="['/settings']">
      <app-svg name="settings" size="medium"></app-svg>
    </a>
  </div>
</div>
