<app-page [modifierBottom]="['actions']">
  <ng-container data-slot="top">
    <div class="record-list__selector" *ngIf="timeRange$ | async as timeRange">
      <a app-button [routerLink]="'/list' + timeRange.prev.path">
        <app-svg name="prev" size="medium"></app-svg>
      </a>

      <app-week-indicator
        [year]="timeRange.year"
        [week]="timeRange.week"
        [from]="timeRange.from"
        [to]="timeRange.to"
      ></app-week-indicator>

      <a app-button [routerLink]="'/list' + timeRange.next.path">
        <app-svg name="next" size="medium"></app-svg>
      </a>
    </div>
    <div class="record-list__summary" *ngIf="summary$ | async as summary">
      <div>
        {{ summary.current }} <ng-container *ngIf="summary.max">/ {{ summary.max }}</ng-container
        >h
      </div>
      <div
        *ngIf="$any(summary).progress >= 0"
        [style.width]="summary.progress + '%'"
        class="record-list__summary-progress"
      ></div>
    </div>
  </ng-container>

  <ng-container *ngIf="records$ | async as records; else loading">
    <div [@list]="records">
      <ng-container *ngFor="let record of records">
        <app-record-list-item [item]="record"></app-record-list-item>
      </ng-container>

      <div class="record-list__placeholder" *ngIf="records.length === 0">
        No data present
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="record-list__placeholder">Loading ...</div>
  </ng-template>

  <ng-container data-slot="bottom">
    <a app-button [href]="mailUrl$ | async">
      <app-svg name="send" size="medium"></app-svg>
    </a>

    <a app-button size="large" [routerLink]="['/record/add']">
      <app-svg name="plus" size="medium"></app-svg>
    </a>

    <a app-button [routerLink]="['/settings']">
      <app-svg name="settings" size="medium"></app-svg>
    </a>
  </ng-container>
</app-page>
