@import 'src/scss/variables';

.record-list {
  margin-bottom: 120px;
}

.record-list__placeholder {
  text-align: center;
}

.record-list__summary {
  text-align: center;
  color: $c-primary;
  background: rgba($c-light, 0.2);
  position: relative;
  font-size: .8rem;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 $spacing--default;
}

.record-list__summary-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #fff;
  will-change: width;
  transition: width 300ms cubic-bezier(0.55, 0.31, 0.15, 0.93);
  z-index: -1;
}

.record-list__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
