@import "src/scss/variables";

$input-height: 3rem;

button,
input,
select {
  -webkit-appearance: none;
  background: $c-light;
  border-radius: $border-radius--default;
  border: 0;
  box-shadow: $interactive--box-shadow;
  color: $c-primary;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  height: $input-height;
  margin: 0;
  padding: 10px;
  transform: scale(1);
  transition: all 160ms;
  width: 100%;

  &:focus {
    box-shadow: $interactive--box-shadow--focus;
    outline: none;
    transform: scale(1.1);
  }
}

input[readonly] {
  background: rgba($c-light, .2);
  box-shadow: none;
  color: $c-light;
}

input,
select {
  border: 2px solid transparent;
  border-radius: $border-radius--default;

  &.ng-invalid {
    border-color: $c-danger;
  }
}

.input {
  margin-bottom: $spacing--default
}

.input__label {
  color: $c-light;
  display: inline-block;
  font-size: .8rem;
  padding-bottom: .25rem;
  padding-left: $border-radius--default;
}

.input__wrapper {
  display: flex;
  height: $input-height;
}

.input--readonly {
  user-select: none;
  pointer-events: none;
}
