<div [formGroup]="parentForm" [ngClass]="{ 'input--readonly': readonly }" class="input">
  <label class="input__label" [for]="id">{{ label }}</label>

  <div
    class="input__wrapper"
    [ngClass]="{
      'input__wrapper--valid': parentForm.controls[id].valid && parentForm.controls[id].dirty,
      'input__wrapper--invalid': !parentForm.controls[id].valid && parentForm.controls[id].dirty
    }"
  >
    <ng-container [ngSwitch]="type">
      <input *ngSwitchDefault [formControlName]="id" [id]="id" [name]="id" [type]="type" [readOnly]="readonly" />
      <select *ngSwitchCase="'select'" [formControlName]="id" [id]="id" [name]="id">
        <option *ngFor="let option of options" [value]="option.id">{{ option.name }}</option>
      </select>
    </ng-container>
  </div>
</div>
