@import "src/scss/variables";

$input-height: 3rem;

button,
input,
select {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  color: $c-primary;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: $input-height;

  &:focus {
    outline: none;
  }
}

.input {
  margin-bottom: $spacing--default
}

.input__label {
  color: $c-light;
  display: inline-block;
  font-size: .8rem;
  padding-bottom: .25rem;
  padding-left: $border-radius--default;
}

.input__wrapper {
  background: $c-light;
  border-radius: $border-radius--default;
  box-shadow: $interactive--box-shadow;
  display: flex;
  border: 2px solid transparent;
  height: $input-height;

  &--valid {
    // @Todo.
  }

  &--invalid {
    border-color: $c-danger;
  }
}

.input--readonly {

  .input__wrapper {
    background: rgba($c-light, .2);
    box-shadow: none;
  }

  input {
    color: $c-light
  }
}
