<a *ngIf="item" class="item" [routerLink]="['/record', item.id]">
  <div class="item__day">
    <div class="item__weekday">
      {{ item.start | date: 'EEEEEE' | translate }}
    </div>
    <div class="item__date">{{ item.start | date: 'dd.MM.' }}</div>
  </div>

  <div *ngIf="isTranslatableType" [ngClass]="typeModifier" class="item__type">
    {{ typeTranslationKey | translate }}
  </div>

  <div *ngIf="!isTranslatableType" class="item__content">
    <div class="item__from-to-overall-wrapper">
      <div class="item__from-to">{{ item.start | date: 'HH:mm' }} - {{ item.end | date: 'HH:mm' }}</div>
      <div class="item__overall">{{ item.overall | minutesToHours }}</div>
    </div>
    <div class="item__project">{{ item.project }}</div>
  </div>
</a>
